#board {
    width: 750px;
    height: 500px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;



}

.gameBoard {
    margin-right: 10%;
}

.gameScreen {
    display: flex;
    
    justify-content: center;
    /* align-items: center; */
}



.heading {
    color: whitesmoke;
    text-align: center;
}

#lionText {
    color: orange;
}

#sheepText {
    color: gray;
}

.white {
    color: whitesmoke;
    text-align: center;
}



.tile {
    width: 75px;
    height: 75px;
    margin: 25px;
    /* width: 125px;
    height: 125px; */
    background-color: white;
    border-radius: 50%;
}
.tile:hover {
    width: 85px;
    height: 85px;
    margin: 20px;
    /* width: 125px;
    height: 125px; */
    border-radius: 50%;
}

#a1 {
    position: relative;

    left: 45%;
}



#b1 {
    /* grid-column-start: 1;
    grid-row-start: 2; */
}

#e1 {
    grid-column-start: 2;
}

.lion {
    background-color: orange;
}
.sheep {
    background-color: gray;

}

