.scoreCard {
    height: 100%;
    width: 500px;
    background-color: #262422;
    border-radius: 10px;
    margin-left: 20px;
    position: relative;
}
.lionText {
    color: orange;
    font-weight: 700;

}

.sheepText {
    color: whitesmoke;
    font-weight: 700;
}
.moves {
    overflow-y: hidden;
    overflow-x: hidden;
}
.unitonMove {
    display: flex;
}

.num {
    color: #7f7f7d;
    flex: 1;
}
.fen {
    color: #aeaead;
    flex: 10;
    font-size: medium;
}
#true {
    background-color: #2b2826;
    height: 35px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: orange;
    font-weight: 500;
}





#false {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 35px;
    text-align: center;
    color: gray;
}

#turn {
    /* color: whitesmoke; */
    margin-left: 10px;
    font-size: 15px;

}

#main {
    background-color: #33302f;
    border-style: none;
    border-radius: 5px;
    width: 30%;
    height: 6%;
    /* margin-left: 10px; */
    position: absolute;
    bottom: 10px;
}

#main:hover {
    background-color: #585453;

}
.back {
    margin-left: 3%;
}
.forward {
    margin-left: 36%;
}
.plus {
    margin-left: 69%;
}