
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;700&display=swap');

* {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.app {
  display: grid;
  place-content: center;
  height: 100vh;
  background-color: #302f2a;
  overflow: scroll;

}

.firstRule {
  margin-left: 10px;
}

.whiteText {
  color: white;
}

.close {
  margin-left: 460px;
  font-size: 45px;
  font-weight: 200;
  display: inline-block;
  transform: rotate(45deg);
  color: whitesmoke;
}
.close:hover {
  color: gray;
}

#summary {
  color: white;
}
#ligerrBoard {
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;

}
#heading {
  color: white;
  text-align: center;
}
.popup {
  background-color: #121213;
  border-color: rgb(52, 51, 51);
  border-radius: 0.5px;
  border-style: solid;
  height: 750px;
  width: 100%;
  border-radius: 10px;
}
